{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="title_container">
    <h1>LOGIN</h1>
</div>
<div class="login-form">
    <form method="POST">
        <div class="form-group">
            <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter email"
            />
        </div>

        <div class="form-group">
            <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Enter password"
            />
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
    </form>
</div>

{% endblock %}